<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.education"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".EduApp"
        android:hardwareAccelerated="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppBaseTheme" >
        <activity
            android:name=".LauncherActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SmartRecommentActivity"
            android:exported="true"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.education.LoginActivity"
                  android:label="LoginActivity"
                  android:exported="true"
                  android:screenOrientation="portrait"/>
        <activity android:name="com.education.RegisterActivity"
                  android:label="RegisterActivity"
                  android:exported="true"
                  android:screenOrientation="portrait"/>
        <activity android:name="com.education.FindPasswordActivity"
                  android:label="FindPasswordActivity"
                  android:exported="true"
                  android:screenOrientation="portrait"/>
        <activity android:name=".ChangePasswordActivity"
                  android:label="ChangePasswordActivity"
                  android:exported="true"
                  android:screenOrientation="portrait"/>

        <activity android:name="com.education.CollectionListActivity"
                  android:label="CollectionListActivity"
                  android:exported="true"
                  android:screenOrientation="portrait"/>
        <activity android:name="com.education.FilterActivity"
                  android:label="FilterActivity"
                  android:exported="true"
                  android:screenOrientation="portrait"/>
        <activity android:name=".AdmissionInPastYearActivity"
                  android:label="AdmissionInPastYearActivity"
                  android:exported="true"
                  android:screenOrientation="portrait"/>
        <activity
            android:name=".SetUserInfoActivity"
            android:exported="true"
            android:screenOrientation="portrait" >
        </activity>


        <activity
                android:name=".wxapi.WXEntryActivity"
                android:label="@string/app_name"
                android:exported="true"
                android:launchMode="singleTop"/>
    </application>

</manifest>