<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.education"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".EduApp"
        android:hardwareAccelerated="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppBaseTheme" >
        <activity
            android:name=".GuideActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SmartRecommentActivity"
            android:exported="true"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/title_activity_main"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label="LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegisterActivity"
            android:exported="true"
            android:label="RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FindPasswordActivity"
            android:exported="true"
            android:label="FindPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChangePasswordActivity"
            android:exported="true"
            android:label="ChangePasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CollectionListActivity"
            android:exported="true"
            android:label="CollectionListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FilterActivity"
            android:exported="true"
            android:label="FilterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FilterSchoolAndMajorActivity"
            android:exported="true"
            android:label="FilterSchoolAndMajorActivity"
            android:screenOrientation="portrait" />
         <activity
            android:name=".LuQuScore"
            android:exported="true"
            android:label="LuQuScore"
            android:screenOrientation="portrait" />
         
        <activity
            android:name=".ShaiXuanActivity"
            android:exported="true"
            android:label="ShaiXuanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DetailConditionActivity"
            android:exported="true"
            android:label="多选条件"
            android:screenOrientation="portrait"
            android:theme="@style/bklistDialog" />
        <activity
            android:name=".AdmissionInPastYearActivity"
            android:exported="true"
            android:label="AdmissionInPastYearActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SetUserInfoActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
                android:name=".TestActivity"
                android:label="TestActivity"
                android:exported="true"
                android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTop" />
        <activity
            android:name=".SmartRecommentResultActivity"
            android:exported="true"
            android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".UserInfoActivity"
                android:screenOrientation="portrait"/>
    </application>

</manifest>